<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Nunito:wght@300;400;600&family=Oswald&family=Roboto&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles.css">
    <title>DiBook</title>
</head>
<body>
    <section id="home">
        <div class="container">
            <img src="./img/Dibook-snf.png" alt="logo de dibook" id="logo">
            <img src="./img/undraw_pedestrian_crossing_l-6-jv.svg" alt="Foto de accesibility" id="ft2">
            <div class="title">
                <h1>Bienvenido a Dibook</h1>
                <a href="./scan.ejs">
                    <div class="boton">
                       <h4>Entrar</h4>
                    </div>
                </a>
            </div>  
            <div class="logofinal">
                <img src="./img/digitize.png" alt="Logo de digitize" id="logo2">
            </div>  
        </div>
    </section>
</body>
</html>