<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scan.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <title>DiBook</title>
</head>
<body>
    <header>
        <H1>DiBook</H1>
    </header>
    <section class="images animate__animated animate__fadeIn">
        <div class="container">
            <div class="title animate__animated animate__bounceInLeft">
                <h1>¿Desea escanear un libro?</h1>
            </div>
            <div class="imagen">
                <img id="img2" src="./img/undraw_moments_0y20 1.svg" alt="imagen de un celular con fotos">
                <p>Recuerde subir las fotos en orden</p>
            </div>
            <div class="inputft">
                <form action="/upload" method="post" id="inputft" enctype="multipart/form-data">
                    <div class="file-lib">
                        <input type="file" name="avatar" multiple required placeholder="subir">
                    </div> 
                    <button type="submit">
                        Escanear
                    </button>
                </form>   
            </div>  
        </div>
        <div class="bt-container">
            <a href="/">
            <img src="./img/back.svg" alt="">
            </a>
        </div>  
    </section>
    <script src="/app.js" type="module"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>